.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
}

answers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.answers button {
    width: 100%;
}

main {
    text-align: center;
}

.enterInitials {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#input-msg {
    width: 25%;
}

#initials {
    width: 25%;
}